$black: #222;

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $black;
  background: white;
}

.content {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.details_section {
  width: 100%;
  background: rgb(201, 193, 193);
}

.details_slide {
  min-height: 80vh;
}

.animate_hidden {
  visibility: hidden;
}

.animate_unhidden {
  visibility: visible;
}

//based on
// www.justinaguilar.com/animations/

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
