---
layout: default
title: Maia Chess
---

<section id="page-top" class="intro">
  <div class="intro-body">
      <h1>Maia Chess</h1>
      <p class="intro-text">
        A human like chess engine
      </p>
      <a href="#main_info" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
  </div>
</section>

<section id="main_info" class="content-section light-section">
  <div class="container main_info" >
    <div class="row col-lg-8 col-lg-offset-2">
      <h2>A human like neural network chess engine</h2>

      <canvas id="maia_bars" class="bar_plot_div"></canvas>
      <script>draw_main_bar_plot()</script>
      {% include noscript_plot.html %}
      <p>Maia is trained on millions of human chess games to predict the human moves at specific Elo levels.
      </p>
    </div>
  </div>
</section>

<section id="details" class="content-section details_section">
  <div class="content-section details_slide">
  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <figure>
        <img src="{{ '/assets/images/observer-diagram.png' | relative_url }}" alt="observer diagram" class="observer-diagram">
        <figcaption>
          Maia sees the same chess board as the player, then predicts what move will be made
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-6">
      <p>Maia is an AlphaZero/Leela Chess Zero-like deep learning framework that learns from online human games instead of self-play</p>

        <p>Maia’s goal is to play the human move — not necessarily the best move</p>
    </div>
    </div>
  </div>
  </div>
</div>
<div class="content-section details_slide">
  <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>We trained 9 versions of Maia, one for each Elo milestone between 1100 and 1900. Each version learned from 12 million
        human games.</p>
      <p>We measure “move-matching accuracy”, how often Maia’s move is the same as the human move played in real online games
      </p>
    </div>
    <div class="col-lg-8">
      <figure>
        <img src="{{ '/assets/images/example_board.png' | relative_url }}" alt="example board" width="100%">
          <figcaption>In this position, Maia levels 1100–1400 correctly predict that White will play the tempting but wrong
            move
            b6 (the move
            played in the game). It threatens the Queen, but after …Qxc5 White’s big advantage is mostly gone. Maia levels
            1500–1900
            predict that, on average, players rated 1500 and above will play the correct bxa6, forcing the Queenside open to
            decisive effect.
          </figcaption>
          </figure>
          </div>
        <!--
        <iframe  class='widget_embed' src="https://csslab.github.io/Maia-Agreement-Visualizer"></iframe>-->
  </div>
  </div>
  </div>
</div>
<div class="content-section details_slide">
  <div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="line_plot_container">
      <canvas id="maia_lines" class="line_plot"></canvas>
      <script>draw_main_line_plot(maia_data, 'maia_lines')</script>
      {% include noscript_plot.html %}
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="text_column">
        <p>We tested each Maia on 500,000 positions for each rating level between 1100 and 1900</p>
        <p><b> Maia captures human style at its specified skill level</b></p>
        <p>Lower Maias best predict moves played by lower-rated players, whereas higher Maias predict moves made by
          higher-rated players.</p>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="content-section details_slide">
  <div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class='line_plot_container'>
      <canvas id="all_lines" class="line_plot"></canvas>
      <script>draw_main_line_plot(collected_data, 'all_lines')</script>
      {% include noscript_plot.html %}
    </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="text_column">
        <p>As a comparison we looked at how Stockfish does on the same prediction task. We ran different depth limited
          Stockfish, letting it only consider the current board (D01) to letting it look 15 positions ahead (D15).</p>
          <p>We also compared against a variety of Leela chess models. Here you can see the move prediction accuracy of Leela at
            different stages of training. Starting at the very weak 800 rating going to 3200 rating through only self play.</p>
        <p>The code for training Maia can be found on our <a href="https://github.com/CSSLab/maia-chess">Github Repo</a>.
      </div>
    </div>
  </div>
  </div>
</div>

<div class="content-section details_slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class='line_plot_container'>
        <canvas id="data_delta" class="line_plot"></canvas>
        <script>draw_main_line_plot(data_delta, 'data_delta', true)</script>
        {% include noscript_plot.html %}
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="text_column">
          <p>Maia gains much of it's performance by predicting mistakes</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<section id="data" class="content-section">
  <div class="container">
    <div class="row col-lg-8 col-lg-offset-2 left-justify-section">
      <h2>Data</h2>
      <p> All our data is from the wonderful archive at <a href="https://database.lichess.org/">database.lichess.org</a>. The data provided there is in pgn format which we converted to CSVs, the download for the CSV we used for testing can be found at <a href="http://csslab.cs.toronto.edu/datasets/#maia_kdd">csslab.cs.toronto.edu/datasets</a> information about using it</p>
      <p>If you want the full dataset we used for training the models please get in touch</p>
    </div>
  </div>
</section>

<section id="paper" class="content-section light-section">
  <div class="container">
    <div class="row col-lg-8 col-lg-offset-2 left-justify-section">
      <h2>paper</h2>

        <p> Our paper was published in KDD, 2020, the full paper can be found on <a
            href="https://arxiv.org/abs/2006.01855">arXiv</a>.</p>

        <p>You can also find a short video on it <a href="https://crossminds.ai/video/5f3375ad3a683f9107fc6bce/">here</a>.</p>

      <h3>Abstract</h3>
      <p>
      As artificial intelligence becomes increasingly intelligent---in some cases, achieving superhuman performance---there is growing potential for humans to learn from and collaborate with algorithms. However, the ways in which AI systems approach problems are often different from the ways people do, and thus may be uninterpretable and hard to learn from. A crucial step in bridging this gap between human and artificial intelligence is modeling the granular actions that constitute human behavior, rather than simply matching aggregate human performance.

      We pursue this goal in a model system with a long history in artificial intelligence: chess. The aggregate performance of a chess player unfolds as they make decisions over the course of a game. The hundreds of millions of games played online by players at every skill level form a rich source of data in which these decisions, and their exact context, are recorded in minute detail. Applying existing chess engines to this data, including an open-source implementation of AlphaZero, we find that they do not predict human moves well.

      We develop and introduce Maia, a customized version of Alpha-Zero trained on human chess games, that predicts human moves at a much higher accuracy than existing engines, and can achieve maximum accuracy when predicting decisions made by players at a specific skill level in a tuneable way. For a dual task of predicting whether a human will make a large mistake on the next move, we develop a deep neural network that significantly outperforms competitive baselines. Taken together, our results suggest that there is substantial promise in designing artificial intelligence systems with human collaboration in mind by first accurately modeling granular human decision-making.
      </p>
<!--<h3>BibTex</h3>
<code>@inproceedings{mcilroyyoung2020maia,
title={Aligning Superhuman AI with Human Behavior: Chess as a Model System},
author={McIlroy-Young, Reid and Sen, Siddhartha and Kleinberg, Jon and Anderson, Ashton},
year={2020},
booktitle={Proceedings of the 25th ACM SIGKDD international conference on Knowledge discovery and data mining}
}</code>
-->
    </div>
  </div>
</section>

<section id="team" class="content-section">
  <div class="container">
    <div class="row col-lg-10 col-lg-offset-1">
      <h2>Team</h2>
      {% include people-list.html %}
    </div>
  </div>
</section>

<section id="acknowledgments" class="content-section light-section acks">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2  left-justify-section">
      <h2>Acknowledgments</h2>
      <p>This is an ongoing research project by a team at
      the University of Toronto, Cornell University, and Microsoft Research.</p>
    </div>
  </div>
</section>



