<header>
  <div class="pure-menu pure-menu-horizontal pure-menu-fixed main-nav">
    <a href="/" class="pure-menu-heading"> Maia Chess </a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a class="pure-menu-link page-link" href="https://github.com/CSSLab/maia-chess">Source</a>
      </li>
      {%- for path in site.header_pages -%}
      <li class="pure-menu-item">
        <a class="pure-menu-link page-link" href="{{ path | relative_url }}">{{ path }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</header>
