<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ '/assets/images/favicon.ico' | relative_url }}"
    attribution="deep blue by Symbolon from the Noun Project"
  />

  <!--deep blue by Symbolon from the Noun Project https://thenounproject.com/symbolon/uploads/?i=3263206-->

  <title>Maia Chess</title>
  <meta property="og:image" content="{{ '/assets/images/observer-diagram.png' | relative_url }}">
  <meta property="og:description" content="Maia is trained on millions of human chess games to predict the human moves at specific Elo levels." />
  <meta property="og:title" content="Maia Chess" />
  <meta property="og:url" content="https://maiachess.com" />
  <meta property="og:type" content="website" />
<!--
  <link rel="stylesheet" href="{{ '/assets/pure/pure.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/pure/grids-responsive.css' | relative_url }}" />
-->

  <link href="{{ "/assets/css/bootstrap.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "/assets/grayscale/styles.css" | relative_url }}" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/fontawesome.css" | relative_url }}">

<script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.easing.js' | relative_url }}"></script>
<script src="{{ "/assets/grayscale/scripts.js" | relative_url }}"></script>

<script src="{{ '/assets/js/Chart.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plots.js' | relative_url }}"></script>
<script src="{{ '/assets/js/nav.js' | relative_url }}"></script>


  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
  <!-- It's just a count of how many people visit and where they come from and is hosted on one of our own servers -->
  <script>
    (function (f, a, t, h, o, m) {
      a[h] = a[h] || function () {
        (a[h].q = a[h].q || []).push(arguments)
      };
      o = f.createElement('script'),
        m = f.getElementsByTagName('script')[0];
      o.async = 1; o.src = t; o.id = 'fathom-script';
      m.parentNode.insertBefore(o, m)
    })(document, window, 'https://analytics.reidmcy.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'MXDCG');
    fathom('trackPageview');
  </script>
  <!-- / Fathom -->

</head>
