
<div class="people-list animate_hidden">
    {% assign people = site.data.people %}
    {%- for person in people -%}
        <div class="person">
                <div class="person-line">
                <img class="img-circle img-responsive img-center person-image" src="{{person.image }}" alt = "Picture of {{ person.name }}">
                </div>

                <div class="person-line">
                <a href="{%- if person.website -%}{{ person.website | escape }}{% else %} https://github.com/{{ person.github| cgi_escape | escape }}{%- endif -%}">{{ person.name }}</a>
                </div>
                <div class="person-line">
                <p>{{ person.affiliation }}</p>
                </div>

                <div class="person-line">
                    {%- if person.website -%}
                    <div class="person-link">
                        <a href="{{ person.website | escape }}">
                            <i class="fas fa-external-link-alt" title="{{ person.name }} website link"></i>
                        </a>
                    </div>
                    {%- endif -%}

                    {%- if person.twitter -%}
                    <div class="person-link">
                    <a href="https://www.twitter.com/{{ person.twitter| cgi_escape | escape }}">
                        <i class="fab fa-twitter" title="{{ person.name }} Twitter link"></i>
                    </a>
                    </div>
                    {%- endif -%}

                    {%- if person.github -%}
                    <div class="person-link">
                        <a href="https://github.com/{{ person.github| cgi_escape | escape }}">
                            <i class="fab fa-github" title="{{ person.name }} Github link"></i>
                        </a>
                    </div>
                    {%- endif -%}
                </div>
            </h3>

        </div>
    {%- endfor -%}
</div>
